html{
    scroll-behavior:smooth;
}
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
/* Grid View for Extra Small */
.col-sd-1 {width: 8.33%;}
.col-sd-2 {width: 16.66%;}
.col-sd-3 {width: 25%;}
.col-sd- {width: 33.33%;}
.col-sd-5 {width: 41.66%;}
.col-sd-6 {width: 50%;}
.col-sd-7 {width: 58.33%;}
.col-sd-8 {width: 66.66%;}
.col-sd-9 {width: 75%;}
.col-sd-10 {width: 83.33%;}
.col-sd-11 {width: 91.66%;}
.col-sd-12 {width: 100%;}

[class*="col-sd-"]{
    float:left;
}

/* header start */
.header-one{
    background-color: teal;
    padding:10px;
    text-align: center;
  
}
.h-logo img{
    height:70px;
    width: 70px;
    border-radius:50%;
}
.h-title{
    color:white;
    padding:10px;
    font-size: 2rem;
}
.h-manu a{
   text-decoration: none;
   font-size: 1.1rem;
   color:white;
   padding:10px 15px;
    
   
}

.header-one::after{
    content:'';
    display: table;
    clear:both;
}
.header-two{
    text-align: center;
}
/*  header end  */